@page
@{
    ViewData["Title"] = "Usuarios - Actualizar";
}
@section ScriptsHeader{

}
@section ContentHeader{
    <h1>
        Administracin de Usuarios
        <small>Actualizar Usuario</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Admin</li>
        <li><a href="/admin/usuarios">Usuarios</a></li>
        <li class="active">Actualizar</li>
    </ol>
}
@section Scripts{
    <script src="~/js/admin/usuario_update.js"></script>
}
<div class="row" id="form-data">
    <div class="col-sm-8 col-sm-offset-2">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-user"></i> Usuario</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="form-horizontal">
                <div class="box-body">
                    <h4>Usuario: {{Datos.Usuario}}</h4>
                    <div class="form-group">
                        <label for="txtNombres" class="col-sm-2 control-label">Nombre</label>

                        <div class="col-sm-10">
                            <input v-model="Datos.Nombre" v-on:keyup.enter="focusNombres" type="text" class="form-control" id="txtNombres" placeholder="Nombre" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtApellidos" class="col-sm-2 control-label">Apellidos</label>

                        <div class="col-sm-10">
                            <input v-model="Datos.Apellidos" v-on:keyup.enter="focusApellidos" type="text" class="form-control" id="txtApellidos" placeholder="Apellidos" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo" class="col-sm-2 control-label">Correo Electrónico</label>

                        <div class="col-sm-10">
                            <input v-model="Datos.Email" type="text" class="form-control" id="txtCorreo" placeholder="Correo Electrónico" maxlength="200">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input v-model="Datos.IsActive" type="checkbox"> Is Active
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button v-on:click="Actualizar" type="submit" class="btn btn-primary ">Actualizar Usuarios</button>
                        <a href="/admin/usuarios" class="btn btn-default ">Cancelar</a>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>


