@page
@{
    ViewData["Title"] = "Inicio";
}

@section ContentHeader{
<h1>
    Inicio
    <small>Página de Inicio</small>
</h1>
<ol class="breadcrumb">
    <!--<li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Here</li>-->
    <li class="active">Inicio</li>
</ol>
}

<h2>index</h2>

